.main{
    height: 100vh;
    width: 100%;


}

.balance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btc {
    background-image: linear-gradient(110deg, #5052a1 2.34%, #24aeb8 99.94%);
    color:white;

    padding: 20px 30px;
    
}
.mywith{
background-color: #5052a1;
color:white;
margin-bottom: 20px;
}
.profit {
    background-image: linear-gradient(110deg, #5052a1 2.34%, #24aeb8 99.94%);
    color:white;

    padding: 20px 30px;
}

.aboutt{
    font-size:13px;
    font-weight: 500;
}

.aboutValue{
    font-size: 28px;
    font-weight: bold;
}

.searchItem:hover{
    background-color: rgb(238, 238, 238);
    font-weight: 600;
    

}
.hoverme{
    color:white;
}
.hoverme:hover{
    background-color: #8fb3d4;
    border-color: #c3e6cb;
    color:#154470;
}

.activelink{
    background-color: #8fb3d4;
    border-color: #c3e6cb;
    color:#154470;
}

.jobbutton{
    background-color: #154470;
    color:white;
}

.jobbutton:hover{
    background-color: #154470;
    color:white;
}


.tablehead{
    background-color: #154470;
    color:white;
    font-size:13px;
}

th{
    color:white!important;
    font-size:13px !important;
}
.showcasetext{
    color:white;
    font-weight: bold;
}

.label {
    font-size: 12px;
    font-weight: bold;

}